<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="solrAdminApp">
<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<head>
  <title>English Learning...</title>

  <link rel="icon" type="image/x-icon" href="img/favicon.ico?_=${version}">
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico?_=${version}">

  <link rel="stylesheet" type="text/css" href="css/angular/common.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/analysis.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/cloud.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/cores.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/collections.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/dashboard.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/dataimport.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/files.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/index.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/java-properties.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/logging.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/login.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/menu.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/plugins.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/documents.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/english.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/stream.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/replication.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/schema.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/suggestions.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/segments.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/threads.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/chosen.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/overview.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/jquery-ui.min.css?_=${version}">
  <link rel="stylesheet" type="text/css" href="css/angular/jquery-ui.structure.min.css?_=${version}">

  <meta http-equiv="x-ua-compatible" content="IE=9">
  <script src="libs/jquery-2.1.3.min.js"></script>
  <script src="libs/chosen.jquery.js"></script>
  <script src="libs/jquery.jstree.js"></script>
  <script src="libs/angular.js"></script>
  <script src="libs/angular-chosen.js"></script>
  <script src="libs/angular-resource.min.js"></script>
  <script src="libs/angular-route.min.js"></script>
  <script src="libs/angular-cookies.min.js"></script>
  <script src="libs/ngtimeago.js"></script>
  <script src="libs/highlight.js"></script>
  <script src="libs/d3.js"></script>
  <script src="libs/jquery-ui.min.js"></script>
  <script src="libs/angular-utf8-base64.min.js"></script>
  <script src="js/angular/app.js"></script>
  <script src="js/angular/services.js"></script>
  <script src="js/angular/controllers/index.js"></script>
  <script src="js/angular/controllers/login.js"></script>
  <script src="js/angular/controllers/logging.js"></script>
  <script src="js/angular/controllers/cloud.js"></script>
  <script src="js/angular/controllers/collections.js"></script>
  <script src="js/angular/controllers/cores.js"></script>
  <script src="js/angular/controllers/threads.js"></script>
  <script src="js/angular/controllers/java-properties.js"></script>
  <script src="js/angular/controllers/alias-overview.js"></script>
  <script src="js/angular/controllers/core-overview.js"></script>
  <script src="js/angular/controllers/collection-overview.js"></script>
  <script src="js/angular/controllers/analysis.js"></script>
  <script src="js/angular/controllers/dataimport.js"></script>
  <script src="js/angular/controllers/documents.js"></script>
  <script src="js/angular/controllers/files.js"></script>
  <script src="js/angular/controllers/english.js"></script>
  <script src="js/angular/controllers/stream.js"></script>
  <script src="js/angular/controllers/plugins.js"></script>
  <script src="js/angular/controllers/replication.js"></script>
  <script src="js/angular/controllers/schema.js"></script>
  <script src="js/angular/controllers/segments.js"></script>
  <script src="js/angular/controllers/unknown.js"></script>
  <script src="js/angular/controllers/cluster-suggestions.js"></script>

</head>
<body ng-controller="MainController">
<div id="query" class="clearfix" ng-controller="EnglishController">
  <div id="form" style="text-align:left;">
    <form>
        <div class="fieldset">
          <label for="q" title="The query string."> Search :: </label>
          <input name="q" class="searchBox" ng-model="query.q" id="q" title="The query string."/>
          <button type="submit" ng-click="doQuery()">Search</button>
        </div>
       <div class="fieldset">
        <label for="sort" title="Sort field or function with asc|desc."><a rel="help">Sort</a></label>
        <input type="text" ng-model="query.sort" id="sort" name="sort" value="word_s ASC" title="Sort field or function with asc|desc.">
        <label for="start" title="Initial offset"><a rel="help">Start:</a></label>
        <input type="text" name="start" ng-model="query.start" id="start" placeholder="0" pattern="[0-9]+" title="Number of leading documents to skip. (Integer)">
        <label for="rows" title="Initial offset"><a rel="help">Rows:</a></label>
        <input type="text" name="rows" ng-model="query.rows" id="rows" placeholder="200" pattern="[0-9]+" title="Number of documents to return after 'start'. (Integer)">
        <label for="fl" title="Field list, comma separated.">
          <a rel="help">fl</a>
        </label>
        <input type="text" ng-model="query.fl" name="fl" id="fl" value="" title="Field list, comma separated.">

        <label for="df" title="Default search field">
          <a rel="help">df</a>
        </label>
        <input type="text" ng-model="query.df" name="df" id="df" value="" title="Default search field">
      </div>
    </form>
  </div>

  <div id="result">
    <a ng-show="response.data" id="url" class="address-bar" ng-href="{{url}}">{{url}}</a>
     <p ng-bind="response.data.responseHeader"></p>
    <div id="response">
      <div></div>
      <div ng-repeat="doc in response.response.docs">
           <div >
              <h1 class="word"> {{$index+1}}. {{doc.word[0]}}</h1>
           </div>
            <h5 style="float:left">Origin : {{doc.origin}}</h5></br>
            <h5 style="float:left"> Meanings: </h5><br/>
            <p class="meanings" ng-repeat="meaning in doc.meanings">{{$index+1}}. {{meaning}}<p>
              <br/>

            <div ng-if="doc.synonyms">
            <h5 style="float:left"> Synonyms: </h5>
            <h1 style="float:left" ng-repeat="synonym in doc.synonyms">&nbsp; {{synonym}}, &nbsp;  <h1>
            <br/>
          </div>
            <div ng-if="doc.synonyms">
            <h5 style="float:left"> Antnonyms: </h5>
            <h1 style="float:left" ng-repeat="antonym in doc.antonyms">&nbsp; {{antonym}}, &nbsp;  <h1>
            <br/>
          </div>

      </div>
  <!--    <pre class="syntax language-{{lang}}"><code ng-bind-html="response.data | highlight:lang | unsafe"></code></pre> -->
    </div>
  </div>
  </div>

</body>
</html>
